@using Microsoft.AspNetCore.Identity
@using MobileWeb.Models.Entities
@using MobileWeb.Services.CartService

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ICartService CartService

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		if (User.IsInRole("Admin"))
		{
			<li class="nav-item">
				<a class="nav-link fw-bold" asp-controller="Home" asp-action="Index" asp-area="Admin">
					@UserManager.GetUserName(User)
				</a>
			</li>
		}
		else 
		{
			var cart = CartService.GetAllItems();

			@if (cart != null)
			{
				<a asp-controller="Shop" asp-action="ShowCart" class="nav-link position-relative text-decoration-none">
					<i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
					<span class="position-absolute top-10 left-100 translate-middle badge rounded-pill bg-light text-dark">@cart.Count()</span>
				</a>
			}
			<li class="nav-item">
				<a asp-controller="Users" asp-action="ShowProfile" asp-route-username="@UserManager.GetUserId(User)" class="nav-link fw-bold">
					@UserManager.GetUserName(User)
				</a>
			</li>
		}

		<li class="nav-item">
			<a asp-controller="Account" asp-action="Logout" asp-area="Identity" type="button" class="nav-link fw-bold">Đăng xuất</a>
		</li>

	}
	else
	{
		<li class="nav-item">
			<a asp-controller="Account" asp-action="Login" asp-area="Identity" type="button" class="nav-link fw-bold">Đăng nhập</a>
		</li>

		<li class="nav-item">
			<a asp-controller="Account" asp-action="Register" asp-area="Identity" type="button" class="nav-link ms-2 fw-bold">Đăng ký</a>
		</li>
	}
</ul>
