@{
	ViewData["Title"] = "Xác nhận đặt lại mật khẩu";
}

<div class="container justify-content-center w-100 mt-5">
	<h2 class="alert alert-success">
		Chúng tôi đã gửi email cho bạn. <br />
		Hãy vào email để xác nhận đặt lại mật khẩu theo hướng dẫn!
	</h2>
</div>