@model MobileWeb.Areas.Identity.Models.Account.ResetPasswordViewModel

@{
	ViewData["Title"] = "Đặt lại mật khẩu";
}

<div class="container d-block justify-content-center w-50 mb-4 pt-3">
	<h2 class="text-center text-dark mb-4 text-uppercase"><b>Đặt lại mật khẩu</b></h2>

	<form asp-action="ResetPassword">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<input type="hidden" name="uid" value="@ViewBag.UserId"/>

		<div class="form-floating mb-3">
			<input asp-for="Password" class="form-control" placeholder="Nhập mật khẩu..."/>
			<label asp-for="Password" class="fw-bold"></label>
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu..."/>
			<label asp-for="ConfirmPassword" class="fw-bold"></label>
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>

		<div class="form-group mt-1 mb-4">
			<input type="submit" value="Xác nhận" class="btn btn-dark fw-bold w-100" />
		</div>

		<div class="text-center">
			<p>Đã có tài khoản? <a asp-action="Login" asp-controller="Account">Đăng nhập</a></p>
			<p>Chưa có tài khoản? <a asp-action="Register" asp-controller="Account">Đăng ký</a></p>
		</div>
	</form>
</div>

