@{
	ViewData["Title"] = "Xác thực email";
}

<div class="container justify-content-center w-100 my-5 py-5">
	<h2 class="alert alert-success mb-5">
		Chúng tôi đã gửi email cho bạn! Vui lòng kiểm tra để xác thực email!
	</h2>
	@*<a asp-controller="User" asp-action="Index" asp-area="" class="text-decoration-none">
		<i class="fas fa-arrow-left me-2"></i>
		Quay lại
	</a>*@
</div>