@{
    ViewData["Title"] = "Trang chủ";
}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="~/assets/img/apple/ip-14-tim-mam-tom.png" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>Iphone 14</b></h1>
              <h3 class="h2">Sang trọng & hiện đại</h3>
              <p>
                @*Zay Shop is an eCommerce HTML5 CSS template with latest version of Bootstrap 5 (beta 1).
                This template is 100% free provided by <a rel="sponsored" class="text-success" href="https://templatemo.com" target="_blank">TemplateMo</a> website.
                Image credits go to <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">Freepik Stories</a>,
                <a rel="sponsored" class="text-success" href="https://unsplash.com/" target="_blank">Unsplash</a> and
                <a rel="sponsored" class="text-success" href="https://icons8.com/" target="_blank">Icons 8</a>.*@
                Với thiết kế thời thượng và các tính năng hiện đại, chiếc smartphone này sẽ mang đến cho bạn trải nghiệm đầy cảm xúc với khả năng sáng tạo vô tận từ 2 camera 12MP, 
                kết hợp với hiệu năng mạnh mẽ từ chipset Apple A15 Bionic 6 nhân. 
                Bên cạnh đó, với dung lượng pin lớn cho phép người dùng trải nghiệm dài lâu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="~/assets/img/samsung/samsung_s/Galaxy-S23-Ultra-800.png" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">SamSung S23 Ultra</h1>
              <h3 class="h2">Thời thượng & tinh tế</h3>
              <p>
                Sau sự đổ bộ thành công của Samsung Galaxy S22 những chiếc điện thoại dòng Flagship tiếp theo - Điện thoại Samsung Galaxy S23 Ultra là đối tượng được Samfans hết mực săn đón. 
                Kiểu dáng thanh lịch sang chảnh kết hợp với những bước đột phá trong công nghệ đã kiến tạo nên siêu phẩm Flagship nhà Samsung.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="~/assets/img/oppo/oppo-reno-8-black.png" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Oppo Reno 8</h1>
              <h3 class="h2">Con số 8 bí ẩn - tận hưởng khoảnh khắc của riêng bạn</h3>
              <p>
                OPPO Reno8 - chuyên gia chụp ảnh chân dung hàng đầu nhờ sự kết hợp giữa cảm biến cao cấp Sony IMX709 (camera trước) và IMX766 (camera sau) với ống kính Micro30x. 
                Ngoài ra, phiên bản Reno 8 mang lại cho người dùng khả năng cân bằng cuộc sống theo khung giờ 8 tiếng giúp làm việc hiệu quả và nghỉ ngơi đầy đủ. 
                Hiệu năng mà OPPO Reno 8 sở hữu 8GB RAM, 256GB bộ nhớ trong đi cùng với vi xử lý MediaTek Dimensity 1300 giúp tối ưu các tác vụ hiệu quả cùng hiệu năng chơi game đỉnh cao.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Sản phẩm của tháng</h1>
      @*<p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
      </p>*@
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 p-5 mt-3">
      <a asp-controller="Shop" asp-action="Index"><img src="~/assets/img/apple/ip_14_tim.jpg" class="rounded-circle img-fluid border"></a>
      <h5 class="text-center mt-3 mb-3">Tím mộng mơ</h5>
      <p class="text-center"><a asp-controller="Shop" asp-action="Index" class="btn btn-success">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a asp-controller="Shop" asp-action="Index"><img src="~/assets/img/samsung/samsung_s/s23_green.png" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Xanh đen huyền bí</h2>
      <p class="text-center"><a asp-controller="Shop" asp-action="Index" class="btn btn-success">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a asp-controller="Shop" asp-action="Index"><img src="~/assets/img/oppo/X80p-blue.png" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Dòng chảy của nước</h2>
      <p class="text-center"><a asp-controller="Shop" asp-action="Index" class="btn btn-success">Go Shop</a></p>
    </div>
  </div>
</section>