@model MobileWeb.Models.Category

@{
	ViewData["Title"] = "Chi tiết danh mục";
	Layout = "_Admin";
}

<h1>Chi tiết danh mục</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
	<a asp-action="Index">Quay lại</a>
</div>
