@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MobileWeb.Models.Category>;

<div class="col-lg-3">
	<h1 class="h2 pb-4">Danh mục</h1>
	<ul class="list-unstyled templatemo-accordion">
		<form>
			@foreach (var item in Model)
			{
			<li class="pb-3">
				<a class="collapsed d-flex justify-content-between h3 text-decoration-none"
				 asp-controller="Shop" asp-action="Index" asp-route-keyword="@item.Name">
					@item.Name
					@*<i class="fa fa-fw fa-chevron-circle-down mt-1"></i>*@
				</a>
			</li>
			}
		</form>
	</ul>
</div>
