@model MobileWeb.Models.DTOs.CategoryDTO

@{
	ViewData["Title"] = "Xóa danh mục";
}

<h4 class="text-dark">Bạn thực sự muốn xóa danh mục @Html.DisplayFor(model => model.Name)?</h4>
	
<form asp-action="DeleteConfirm" class="d-inline">
	<input type="hidden" name="id" value="@ViewData["CategoryId"]" />
	<button type="submit" class="btn btn-outline-danger text-uppercase">Xóa</button>
</form>

<span class="m-2">|</span>

<a asp-action="Index" class="d-inline">Quay lại</a>
