@model IEnumerable<MobileWeb.Models.Entities.Category>

@{
	ViewData["Title"] = "Danh mục sản phẩm";
}

<h1 class="text-dark">Danh sách danh mục</h1>

<p>
	<a asp-controller="Categories" asp-action="Create" class="btn btn-outline-primary">Tạo danh mục mới</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th class="text-dark">Tên danh mục</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td class="text-dark">
					@Html.DisplayFor(modelItem => item.Name)
				</td>

				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a>
					<span class="m-2">|</span>
					<a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
					<span class="m-2">|</span>
					<a asp-action="Delete" asp-route-id="@item.Id">Xóa danh mục</a>
				</td>
			</tr>
		}
	</tbody>
</table>
