@{
	ViewData["title"] = "Đăng Nhập";
	Layout = null;
}

@model MobileWeb.Models.User;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>@ViewData["title"]</title>

	<!-- Font Icon -->
	@*<link rel="stylesheet" href="~/signup_login/fonts/material-icon/css/material-design-iconic-font.min.css">*@

	<!-- Main css -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
</head>
<body>

	<div class="main">

		<section class="signup">
			<!-- <img src="images/signup-bg.jpg" alt=""> -->
			<div class="container-sm border border-secondary rounded p-3" style="width: 600px">
				<h1 class="fw-bolder text-center">ĐĂNG NHẬP</h1>

				<div class="row justify-content-center">
					<!-- <div class="col-lg-6"> -->
					<form action="">
						<div class="mb-3">
							<label asp-for="Email" class="form-label">Email:</label>
							<input type="email" class="form-control" placeholder="Nhập email...">
						</div>

						<div class="mb-3">
							<label asp-for="Password" class="form-label">Mật khẩu:</label>
							<input type="password" class="form-control" placeholder="Nhập mật khẩu...">
						</div>

						<a href="#" class="text-decoration-none">Quên mật khẩu?</a>

						<div class="text-center">
							<input type="submit" value="Đăng Nhập" class="btn btn-primary w-50 rounded-pill my-3 fw-bolder">

							<p>Bạn chưa có tài khoản? <a href="#" class="text-decoration-none">Đăng ký ngay</a></p>
						</div>
					</form>
					<!-- </div> -->
				</div>
			</div>
		</section>

	</div>

	<!-- JS -->
	@*<script src="~/signup_login/vendor/jquery/jquery.min.js"></script>
	<script src="~/signup_login/js/main.js"></script>*@
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>