@{
  ViewData["title"] = "Đăng Ký";
  Layout = null;
}

@model MobileWeb.Models.User;

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@ViewData["title"]</title>

  <!-- Font Icon -->
  <link rel="stylesheet" href="~/signup_login/fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="~/signup_login/css/style.css">
</head>
<body>

  <div class="main">

    <section class="signup">
      <!-- <img src="images/signup-bg.jpg" alt=""> -->
      <div class="container">
        <div class="signup-content">
          <form asp-controller="Users" asp-action="SignupAccount" method="POST" id="signup-form" class="signup-form">
            <h2 class="form-title">ĐĂNG KÝ TÀI KHOẢN</h2>
            <div class="form-group">
              <input asp-for="Name" type="text" class="form-input" id="name" placeholder="Tên người dùng" />
            </div>
            <div class="form-group">
              <input asp-for="Email" type="email" class="form-input" id="email" placeholder="Email" />
            </div>
            <div class="form-group">
              <input asp-for="Password" type="password" class="form-input" name="password" id="password" placeholder="Mật khẩu" />
              <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input asp-for="Role" type="hidden" class="form-input" value="user" />
            </div>
            @*<div class="form-group">
              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
            </div>*@
            <div class="form-group">
              <input type="submit" name="submit" id="submit" class="form-submit" value="ĐĂNG KÝ" />
            </div>
          </form>
          <p class="loginhere">
            Bạn đã có tài khoản? <a asp-controller="Users" asp-action="Login" class="loginhere-link">Đăng nhập ngay</a>
          </p>
        </div>

        <p class="alert alert-danger">@ViewBag.Error</p>
      </div>
    </section>

  </div>

  <!-- JS -->
  <script src="~/signup-login/vendor/jquery/jquery.min.js"></script>
  <script src="~/signup-login/js/main.js"></script>

  @section Scripts {
    @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
  }

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>